---
layout: default
title: Fundación Ipakú
description: La Fundación Ipakú - Colectivo imagen, patrimonio y cultura de San Agustín, es una entidad sin ánimo de lucro, con domicilio en el municipio de San Agustín (Huila). Su trabajo propende por el buen desarrollo y mejoramiento de las condiciones de vida de las comunidades, promoviendo la investigación, rescate, salvaguarda y divulgación del patrimonio arqueológico, histórico, arquitectónico, artístico, cultural y ambiental de la región, con un criterio comunitario, participativo y ecológico, amplio e incluyente.
---
{% include header.html %}
{% include principal.html %}
{% include footer.html %}
