<section class="principal">
  <div class="introduccion">
    <h1>Fundación Ipakú</h1>
    <p>La <strong>Fundación Ipakú - Colectivo imagen, patrimonio y cultura de San Agustín</strong> , es una entidad sin ánimo de lucro, con domicilio en el municipio de San Agustín (Huila).</p>
    <p>Su trabajo propende por el buen desarrollo y mejoramiento de las condiciones de vida de las comunidades, promoviendo la investigación, rescate, salvaguarda y divulgación del patrimonio arqueológico, histórico, arquitectónico, artístico, cultural y ambiental de la región, con un criterio comunitario, participativo y ecológico, amplio e incluyente.</p>
  </div>
  <div class="contacto">
    <h2>Contáctanos:</h2>
    <ul>
      <li>Carrera 13 # 6-56, calle de La Locería - San Agustín, Huila
        </li>
      <li>Código Postal: 418060</li>
      <li>Teléfono: +57 3118598421</li>
      <li>Email: ipakufundación@gmail.com</li>
    </ul>
  </div>
  </section>